.registerPage {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;

}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: start;
    width: 50%;
}